.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.cart-list {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.cart-item-details p {
  margin: 5px 0;
}

button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #b91b1b;
}

.pay-now-button {
  background-color: #0011ff;
}

.pay-now-button:hover {
  background-color: #2231bb;
}
